<body data-gr-c-s-loaded="true">
	<div class="skipnav">
  <a class="sr-only sr-only-focusable" href="#maincontent">Skip to main content</a>

    <a class="sr-only sr-only-focusable" href="#search">Skip to search</a>
</div>

	<section id="content" class="container-fluid">
		<a name="maincontent" id="maincontent"></a>
		
		
<div class="row">
  <div class="col-sm-12">
    <h2>Browse Vanderbilt’s Archival Collections</h2>
      <div> <p>Search our collections finding aids for archival material.</p>
 </div>
  </div>
</div>

    <div class="search" role="search">
  <a name="search" id="search"></a>
  <h3>Search The Archives</h3>
  <form id="advanced_search" action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
  <div class="row search_row" id="search_row_0">
    <div class="col-sm-1 bool form-group form-inline" style="display: none;">
      <label class="sr-only" for="op0">Search operator</label>
      <select name="op[]" id="op0" disabled="disabled" class="form-control hidden"><option value="AND">And</option>
<option value="OR">Or</option>
<option value="NOT">Not</option></select>
      <input type="hidden" name="op[]" id="op_" value="">
    </div>
    <div class="form-group form-inline col-sm-4">
      <label class="sr-only repeats" for="q0">Enter your search terms</label>
      <input type="text" name="q[]" id="q0" placeholder="Enter your search terms" class="form-control repeats fill-column">
    </div>
      <div class="col-sm-3 form-group form-inline norepeat">
        <label class="sr-only" for="limit">Limit to %{limit}</label>
        <select name="limit" id="limit" class="form-control fill-column"><option selected="selected" value="">Search all record types</option>
<option value="resource">Limit to collections</option>
<option value="digital_object">Limit to digital materials</option></select>
      </div>
    <div class="col-sm-5 form-group form-inline">
      <label class="sr-only repeats" for="field0">Search field</label>
      <select name="field[]" id="field0" class="form-control repeats"><option value="">Keyword</option>
<option value="title">Title</option>
<option value="creators_text">Creator</option>
<option value="subjects_text">Subject</option>
<option value="notes">Notes</option>
<option value="four_part_id">Identifier</option></select>

      <span class="inline-label repeats">Years:</span>
      <label class="sr-only repeats" for="from_year0">From year</label>
      <input type="text" name="from_year[]" id="from_year0" size="4" maxlength="4" placeholder="From" class="form-control repeats">

      <span class="inline-label repeats">To</span>
      <label class="sr-only repeats" for="to_year0">To year</label>
      <input type="text" name="to_year[]" id="to_year0" size="4" maxlength="4" class="form-control repeats" placeholder="To">
    <span class="plusminus"><button class="btn btn-default" title="Add a search row" aria-label="Add a search row"><i aria-hidden="true" class="fa fa-plus"></i></button></span>

    </div>
  </div>
  <div class="row" id="submit_div">
    <div class="col-sm-2">
      <input type="submit" name="commit" value="Search" class="btn btn-primary" id="submit_search" data-disable-with="Search">
    </div>
  </div>
</form></div>
<script type="text/javascript">initialize_search();</script>
<div class="row">
 <hr>
<div class="col-sm-6">
  <h3>About this Site</h3>
  <p>Vanderbilt’s instance of ArchivesSpace contains finding aids from 3 libraries at Vanderbilt University and 1 library at the Scarritt Bennett Center. Finding aids describe the context, arrangement, and structure of archival materials, allowing users to identify and request materials relevant to their research. </strong></p>
</div>
<div class="col-sm-6">
  <h3>Requesting Materials</h3>
  <p>Each finding aid contains a link to request materials from the collections. Collections can also be requested by emailing the repository directly through the library website. Each repository has its own location, hours, and contact information. Please consult the repository with questions about using the materials. Collections are non-circulating and must be used in the repository’s reading room. In many cases the collections are stored off-site and require advance notice for retrieval.
</p>
</div>

</div>

	</section>

	<script type="text/javascript">
		$(".upper-record-details .note-content").each(function(index, element){$(this).readmore(450)});
	</script>




</body>
