  <footer id="footer-primary">
      <div class="wrap">
<div class="footer-bottom">
	<p>View <a href="https://dev-asp.library.vanderbilt.edu/">Public Interface </a> | Visitthe <a href="https://www.library.vanderbilt.edu/">Vanderbilt Library Home Page</a> | v2.7.0 | <a id="aspaceFeedbackLink" href="https://inform.library.vanderbilt.edu/" target="_blank">Report a Problem</a> </p>	  
</div>
<!-- testing -->
<!-- /footer-bottom -->
</div>
   </footer>
