   <header id="header-primary">
      <div class="wrap relative">

<ul id="nav-utilities">
  <li class="upper nav-home">
    <a href="http://vanderbilt.edu">VU Home</a>
  </li>
  <li class="upper nav-peoplefinder">
    <a href="https://phonedirectory.vanderbilt.edu/cdb/index.jsp">People Finder</a>
  </li>
  <li class="upper nav-email">
    <a href="http://www.vanderbilt.edu/email/">Email</a>
  </li>
  <!-- <li class="login">
    <a href="https://login.mis.vanderbilt.edu/?service=http://www.library.vanderbilt.edu/">Log in</a>
  </li> -->
	
	
</ul>

<div class="branding library-heard">
  <h1 class="logo-vandy-library">
    <a href="/">Vanderbilt Library</a>
    <a href="/" class="location-link"></a>
  </h1>
</div>

<nav id="nav-primary">
  <ul class="nav-mobile">
    <li class="hours">
      <a href="/hours.php">Hours</a>
    </li>
    <li class="locations">
    <a href="/about/contact.php">Locations</a>
    </li>
  </ul>

  <ul class="nav-tablet">
	  
    <li class="search">
      <a href="/search.php" class="dropdown-toggle">Search Library</a>
    </li>

    <li class="students dropdown">
      <a href="/students/" class="dropdown-toggle">Students</a>
      <ul class="dropdown-pane">
        <li>
			<a href="https://acorn.library.vanderbilt.edu/login/login.phtml?page=myaccount">My Account</a>
          	<a href="/services/studyrooms.php">Reserve a Study Room</a>
          	<a href="/services/ipads.php">Available iPads and Laptops</a>
		  	<!-- link to individual library researchguide group page --> 	
			             	<a href="http://researchguides.library.vanderbilt.edu/">Research and Course Guides</a>
					   	<a href="/students/">Student Services at Heard</a>
			<a href="/subject-specialists.php">Subject Liaisons</a>
        </li>
      </ul>
    </li>

    <li class="faculty-staff dropdown">
      <a href="/faculty-staff/" class="dropdown-toggle">Faculty &amp; Staff</a>
      <ul class="dropdown-pane">
        <li>
		  <a href="https://acorn.library.vanderbilt.edu/login/login.phtml?page=myaccount">My Account</a>
          <a href="/ill/facdev.php">Faculty Delivery</a>
          <a href="/services/placingreserves.php">Place Items on Reserve</a>
          <a href="/subject-specialists.php">Subject Liaisons</a>
       <!--   <a href="/scholarly/index.php">Scholarly Communications</a>-->
          <a href="/faculty-staff/">Faculty Services at Heard</a>
        </li>
      </ul>
    </li>

    <li class="alumni dropdown">
      <a href="/alumni/" class="dropdown-toggle">Alumni</a>

      <ul class="dropdown-pane">
        <li>
		  <a href="https://acorn.library.vanderbilt.edu/login/login.phtml?page=myaccount">My Account</a>
          <a href="/alumni/databases.php">E-Resources for Alumni</a>
          <a href="/policies/accessuse.php">Borrowing Card</a>
          <a href="/about/mapsparking.php">Maps and Parking</a>
		  <a href="/giving/">Giving to the Library</a>
          <a href="/alumni/">Alumni Services at Heard</a>
        </li>
      </ul>
    </li>

    <li class="visitors dropdown">
      <a href="/visitors/" class="dropdown-toggle">Visitors</a>
      <ul class="dropdown-pane">
        <li>
          <a href="http://exhibits.library.vanderbilt.edu/">Exhibits</a>
          <a href="/about/mapsparking.php">Maps and Parking</a>
		  <a href="/giving/">Giving to the Library</a>	
          <a href="/visitors/">Visitor Services at Heard</a>
        </li>
      </ul>
    </li>

    <li class="campus-libraries dropdown">
    <a href="/about/contact.php" class="dropdown-toggle">Campus Libraries</a>
      <ul class="dropdown-pane">
        <li>
          <a href="/biomedical/">Biomedical</a>
        </li>
        <li>
          <a href="/central/">Central</a>
        </li>
        <li>
          <a href="/divinity/">Divinity</a>
        </li>
        <li>
          <a href="/law/">Law</a>
        </li>
        <li>
          <a href="/management/">Management</a>
        </li>
        <li>
          <a href="/music/">Music</a>
        </li>
        <li>
          <a href="/peabody/">Peabody</a>
        </li>
        <li>
          <a href="/science/">Science &amp; Engineering</a>
        </li>
      </ul>
    </li>

    <li class="hours">
      <a href="/hours.php">Hours</a>
    </li>
  </ul>
</nav>
<!-- 
<p style="color:white"><b> Some library web pages will be unavailable due to maintenance Sunday morning, May 21st, from 7:30am to 11:00am and Monday evening the 22nd from 9:00pm to midnight.  We apologize for any inconvenience. </b></p> -->
         <form method="get" action="/search.php" class="mobile-search">
            <input type="text"
                   name="all_query"
                   placeholder="Search"
                   class="all-search-query search-query-field input-mega"
                   tabindex="1"
                   autocapitalize="off"
                   autocorrect="off"/>
            <button type="submit" class="btn-search-large">Go</button>
         </form>
      </div>
   </header>
