<div class="row has-resizable-content" id="notes_row">
  <div class="col-sm-9">    
    <!-- Look for '_inherited' and '*_inherited' properties -->
     <div class="upper-record-details">
	<h2>Description of the Papers</h2>
     </div>
  </div>
</div>

