<div class="container-fluid panel-footer">
  <div class="row">
     <div class="col-md-12">
       <p><a href="https://dev-as.library.vanderbilt.edu/">View Staff Interface </a> | <a href="https://www.library.vanderbilt.edu/">Visit the Vanderbilt Library Home Page</a> | v2.7.0 | <a id="aspaceFeedbackLink" href="https://www.library.vanderbilt.edu/specialcollections/ask-librarian.php" target="_blank">Send Feedback</a> </p>
     </div>
  </div>
</div>
