<section id="header">
  <nav class="navbar navbar-inverse" id="main_navbar" role="navigation">
    <div class="container">    
      <div class="navbar-header">        
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".vubrandbar">        
          <span class="sr-only">Toggle navigation</span>        
          <span class="icon-bar"></span>        
          <span class="icon-bar"></span>        
          <span class="icon-bar"></span>        
        </button>        
        <a class="navbar-brand" href="https://www.vanderbilt.edu">          
          <img class="hidden-xs hidden-sm hidden-md" src="https://www.library.vanderbilt.edu/images/vanderbilt.svg" alt="Vanderbilt University">          
          <img class="visible-xs visible-sm visible-md" src="https://www.library.vanderbilt.edu/images/vanderbilt-mob.svg" alt="Vanderbilt University"></a>            
      </div>    
      <div class="vubrandbar collapse navbar-collapse">        
        <ul class="nav navbar-nav navbar-right vu-toolbar">            
          <!-- Logins -->            
          <li class="dropdown">                
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="vubrandbar__icon glyphicon glyphicon-lock"></i>&nbsp; Logins <span class="caret"></span>
            </a>                
            <ul class="dropdown-menu">                    
              <li><a href="https://catalog.library.vanderbilt.edu/discovery/account?vid=01VAN_INST:vanui">My Account</a></li>                    
              <li><a href="http://gmail.vanderbilt.edu">VUGmail</a></li>                    
              <li><a href="https://email.vanderbilt.edu">VMail</a></li>                    
              <li><a href="https://yes.vanderbilt.edu/">YES</a></li>                    
              <li><a href="https://www.vanderbilt.edu/brightspace/">Brightspace</a></li>                    
              <li><a href="https://oraclecloud.vanderbilt.edu/">SkyVU</a></li>                    
              <li><a href="https://anchorlink.vanderbilt.edu/account/logon">Anchor Link</a></li>                
            </ul>            
          </li>            
          <!-- Resources -->            
          <li class="dropdown">                
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="vubrandbar__icon glyphicon glyphicon-cog"></i>&nbsp; Resources <span class="caret"></span>
            </a>                
            <ul class="dropdown-menu">                    
              <li><a href="https://vu.edu/peoplefinder">PeopleFinder</a></li>                    
              <li><a href="https://www.library.vanderbilt.edu/">Libraries</a></li>                    
              <li><a href="https://news.vanderbilt.edu">News</a></li>                    
              <li><a href="https://events.vanderbilt.edu">Calendar</a></li>                    
              <li><a href="https://www.vanderbilt.edu/map/">Maps</a></li>                    
              <li><a href="https://www.vanderbilt.edu/atoz/letter/A">A-Z</a></li>                    
              <li><a href="https://social.vanderbilt.edu">Get Social</a></li>                
            </ul>            
          </li>            
          <!-- Explore VU -->            
          <li class="dropdown">                
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="vubrandbar__icon glyphicon glyphicon-th"></i>&nbsp; Explore VU <span class="caret"></span>
            </a>                
            <ul class="dropdown-menu">                    
              <li><a href="https://www.vanderbilt.edu/about/">About</a></li>                    
              <li><a href="https://www.vanderbilt.edu/prospective/">Admissions</a></li>                    
              <li><a href="https://www.vanderbilt.edu/academics/">Academics</a></li>                    
              <li><a href="https://research.vanderbilt.edu/">Research</a></li>                    
              <li><a href="https://www.vanderbilt.edu/student/">Students</a></li>                    
              <li><a href="https://hr.vanderbilt.edu/">Faculty &amp; Staff</a></li>                    
              <li><a href="https://www.vucommodores.com/">Athletics</a></li>                    
              <li class="last"><a href="http://www.mc.vanderbilt.edu/">Medical Center</a></li>         
            </ul>            
          </li>        
        </ul>    
      </div>
    </div>
  </nav>
  <div class="img-banner header-background" data-div="Special Collections and University Archives">
    <div class="container container--banner">
        <a title="Return to the Special Collections and University Archives homepage" class="graphic-header__small" href="https://www.library.vanderbilt.edu/specialcollections">
            <small class="font-weight-light">Special Collections and University Archives</small>
        </a>
        <h1 class="graphic-header__title livetextheader">
          <a title="Return to the Collection Guides homepage" href="/"><b>Collection Guides</b></a>
        </h1>
    </div>
  </div>
  <script type="text/javascript" src="https://cdn.vanderbilt.edu/vu-www4/brandbar/emergency.js"></script>
  <script type="text/javascript" src="https://www.library.vanderbilt.edu/assets/js/heardEmergency.js"></script>
</section>
