<section id="navigation" aria-label="primary navigation links">
  <nav class="navbar navbar-default">
    <div class="container-fluid navbar-header top-bar">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsemenu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="collapsemenu">
        <ul class="nav nav navbar-nav">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Repositories <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/repositories/3">Eskind Biomedical Library Manuscripts Collection</a></li>
              <li><a href="/repositories/2">Vanderbilt University Special Collections</a></li>
              <li><a href="/repositories/4">VUMC Historical Images and Biographies</a></li>
            </ul>
          </li>

            <li><a href="/repositories/resources">Collections</a></li>
            <li><a href="/objects?limit=digital_object">Digital Materials</a></li>
            <li><a href="/subjects">Subjects</a></li>
            <li><a href="/agents">Names</a></li>
            <li><a href="/help">Help</a></li>
            <li><a href="/search?reset=true" title="Search The Archives">
                <span class="fa fa-search" aria-hidden="true"></span>
                <span class="sr-only">Search The Archives</span>
                </a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
</section>
